<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - приложение ASP.NET</title>
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/MyStyles/Layout-Styles.css")
    @Scripts.Render("~/bundles/modernizr")
    @using Microsoft.AspNet.Identity
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <header class="d-flex justify-content-center py-3 align-items-center">
                <ul class="nav nav-pills">
                    <li class="nav-item">
                        <a href='/Cinemas/Index' class="nav-link" aria-current="page">Кинотеатры</a>
                    </li>
                    <li class="nav-item">
                        <a href="/Sessions/Index" class="nav-link" aria-current="page">Сессии</a>
                    </li>
                    <li class="nav-item">
                        <a href='/Movies/Index' class="nav-link" aria-current="page">Фильмы</a>
                    </li>
                    @if (User.IsInRole("admin"))
                    {
                        <li class="nav-item ">
                            <a href='/Halls/Index' class="nav-link" aria-current="page">Залы</a>
                        </li>
                        <li class="nav-item">
                            <a href='/Rows/Index' class="nav-link" aria-current="page">Ряды</a>
                        </li>
                        <li class="nav-item">
                            <a href='/Seats/Index' class="nav-link" aria-current="page">Места</a>
                        </li>
                    }
                </ul>
                @if (Request.IsAuthenticated)
                {
                    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
                    {
                        @Html.AntiForgeryToken()
                        <div class="loggedIn">
                            <button class="btn btn-outline-primary" onclick="location.href='/Manage/Index'">@User.Identity.GetUserName()</button>
                            <a class="btn btn-primary" href="javascript:document.getElementById('logoutForm').submit()">Выйти</a>
                        </div>
                    }

                }
                else
                {
                    <div class="col-md-3 text-end">
                        <button onclick="location.href='/Account/LogIn'" type="button" class="btn btn-outline-primary me-2">Вход</button>
                        <button onclick="location.href='/Account/Register'" type="button" class="btn btn-primary">Регистрация</button>
                    </div>
                }
            </header>
        </div>
    </div>
    <div class="b-example-divider"></div>
    <div class="container body-content">
        @RenderBody()
    </div>
    @Scripts.Render("~/Scripts/jquery-3.4.1.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.min.js")
    @Scripts.Render("~/Scripts/jquery.unobtrusive-ajax.js")
    @Scripts.Render("~/bundles/jquery")
    
    @RenderSection("scripts", required: false)
</body>
</html>