@using GoToCinema.Models.DomainModels
@using GoToCinema.Models.DomainModels.Enums
@model BookingViewModel
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    int sessionId = 0;
    string rowName = "";
}
<br />
@Styles.Render("~/Content/MyStyles/BookingPageStyles.css")
<form action="/Cinemas/GetBookingPage" method="post">
    <div class="hall">
        <div>
            @foreach (SessionSeat sessionSeat in Model.SessionSeats)
            {
                if (rowName != sessionSeat.Row.RowName)
                {
                    <br />
                    rowName = sessionSeat.Row.RowName;
                }

                if (sessionSeat.UserId == ViewBag.UserId)
                {
                    if (sessionSeat.SeatState == SeatState.Booked)
                    {
                        <label>
                            <input type="checkbox" class="bookedMe" name="bookedSeatIds" value="@sessionSeat.SeatId" />
                            <span class="fakeBookedMe"></span>
                        </label>
                    }

                    if (sessionSeat.SeatState == SeatState.Bought)
                    {
                        <label>
                            <input type="checkbox" class="boughtMe" />
                            <span class="fakeBoughtMe"></span>
                        </label>
                    }
                }
                else
                {
                    if (sessionSeat.SeatState == SeatState.Bought || sessionSeat.SeatState == SeatState.Booked)
                    {
                        <label>
                            <input type="checkbox" class="busy" />
                            <span class="fakeBusy"></span>
                        </label>
                    }
                    else
                    {
                        <label class="label">

                            @*<input type="hidden" name="@sessionSeat.SeatId" value="@sessionSeat.SeatId" />
                                <input type="hidden" name="@sessionSeat.RowId" value="@sessionSeat.RowId" />
                                <input type="hidden" name="@sessionSeat.SessionId" value="@sessionSeat.SessionId" />
                                <input type="hidden" name="@sessionSeat.UserId" value="@sessionSeat.UserId" />*@
                            <input type="checkbox" class="free" name="freeSeatIds" value="@sessionSeat.SeatId" />
                            <span class="fakeFree"></span>
                        </label>
                    }
                }
                sessionId = sessionSeat.SessionId;
            }
        </div>

        <input type="hidden" name="sessionId" value="@sessionId" />
    </div>
    <div class="screen">
        <div class="fakeScreen"></div>
    </div>
    <div class="btn-group">
        <button type="submit" name="action" class="btn btn-primary" value="@SeatAction.Book">Бронировать</button>
        <button type="submit" name="action" class="btn btn-primary" value="@SeatAction.Buy">Купить</button>
    </div>
    <div class="container-1">
        <a href="/Cinemas/Index" id="backToList" class="btn btn-info">Вернуться на главную</a>
    </div>
</form>


