@model GoToCinema.Models.DomainModels.Hall

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Удаление</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Cinema.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Cinema.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-outline-danger btn-danger" /> 
        </div>
    }
</div>
<div class="container-1">
    <a href="/Halls/Index" id="backToList" class="btn btn-info">Вернуться на главную</a>
</div>


