@model IEnumerable<GoToCinema.Models.DomainModels.Hall>
@{
    ViewBag.Title = "Залы";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">@ViewBag.Title</h2>
@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-outline-primary" onclick="location.href='/Halls/Create'" style="margin:10px;">Добавить фильм</button>
    </div>
}

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cinema.Name)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cinema.Name)
            </td>
            @if (User.IsInRole("admin"))
            {
                <td>
                    <a href="/Halls/Edit/@item.Id" class="btn btn-outline-primary">Изменить</a>
                    <a href="/Halls/Details/@item.Id" class="btn btn-outline-primary">Информация</a>
                    <a href="/Halls/Delete/@item.Id" class="btn btn-outline-danger btn-danger">Удалить</a>
                </td>
            }
            else
            {
            }
        </tr>
    }

</table>
