@model GoToCinema.Models.DomainModels.Session

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Удаление</h2>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Hall.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Hall.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Movie.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Movie.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>

    </dl>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Удалить" class="btn btn-outline-danger btn-danger" />
        </div>

        <div class="container-1">
            <a href="/Sessions/Index" id="backToList" class="btn btn-info">Вернуться на главную</a>
        </div>
    }
</div>
