@model IEnumerable<GoToCinema.Models.DomainModels.Session>

@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 class="heading">Сеансы</h2>

@if (User.IsInRole("admin"))
{
    <div>
        <button class="btn btn-outline-primary" onclick="location.href='/Sessions/Create'" style="margin:10px;">Добавить сеанс</button>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Hall.Cinema.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Hall.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Movie.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Date)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
<tr>
    <td>
        @Html.DisplayFor(modelItem => item.Hall.Cinema.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Hall.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Movie.Name)
    </td>
    <td>
        @Html.DisplayFor(modelItem => item.Date)
    </td>
    @if (User.IsInRole("admin"))
    {
<td >
    <button class="btn btn-outline-primary" style="margin:5px;" onclick="location.href = '/Sessions/Edit/@item.Id'">Изменить</button>
    <button class="btn btn-outline-primary" style="margin:5px;" onclick="location.href = '/Sessions/Details/@item.Id'">Информация</button>
    <button class="btn btn-outline-danger btn-danger" style="margin:5px;" onclick="location.href = '/Sessions/Delete/@item.Id'">Удалить</button>
    @Html.ActionLink("Бронировать/Купить места", "GetBookingPage", "Cinemas", new { sessionId = item.Id }, new { @class = "btn btn-outline-primary" })
</td>
    }
    else
    {   <td>
            <button class="btn btn-outline-primary" onclick="location.href = '/Sessions/Details/@item.Id'">Информация</button>
            @Html.ActionLink("Бронировать/Купить места", "GetBookingPage","Cinemas", new { sessionId = item.Id }, new { @class = "btn btn-outline-primary" })
        </td>
    }
</tr>
    }

</table>
